html, body {
  margin: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #CCC;
  width: 200px;

  &__header {
    padding: 5px;
    border-bottom: 1px solid #CCC;
  }

  &__item {
    padding: 5px;
    border-bottom: 1px solid #CCC;
    &:last-child {
      border-bottom: none;
    }

    &--selected {
      background-color: #EEE;
    }
  }
}