html, body {
  margin: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #CCC;
  width: 200px;
}

.menu li {
  padding: 5px;
  border-bottom: 1px solid #CCC;
  cursor: pointer;
}

.menu li:last-child {
  border-bottom: none;
}

.menu li.selected {
  background-color: #EEE;
}