<h1>MB Menu</h1>

<h2>Single Selection</h2>

{{#mb-menu items=items selected=singleSelected on-select="selectSingle" class="menu" as |item|}}
  {{item}}
{{/mb-menu}}

<h2>Multiple Selection</h2>

{{#mb-menu items=items selected=multiSelected multiple="true" on-select="selectMulti" on-deselect="deselectMulti" class="menu" as |item|}}
  {{item}}
{{/mb-menu}}
